@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: #06090F;
    color: #ffffff;
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    
}
#conteine > main, #conteine > header, #conteine > nav, #conteine > footer{
    border: 1px solid red;
} 
#conteine {
    display: grid;
    grid-template-columns: 1216px 1216px 1216px 1216px;
    grid-template-rows: 128px 98px auto 65px;
    grid-template-areas: 
        'cabecario'
        'navegacao'
        'conteudo'
        'rodape';
    row-gap: 10px;
    
   
}

header {grid-area: cabecario;}
main {grid-area: conteudo;}
footer {grid-area: rodape;}
nav {grid-area: navegacao;}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 72px;
    
}
#titulo {
    width: 134px;
    height: 47px;
    font-weight: 500;
    font-style: normal;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: 0;
    color: #00A3FF;
}


#menu {
    display: flex;
    width: 817px;
    
}

#menuPesquisa {
    position: relative;
    top: 10px;
    width: 453px;
    height: 32px;
    display: flex;
    gap: 50px;
}
#menu > a {
    font-family: "Inter", sans-serif;
    width: 46px;
    height: 32px;
    font-weight: 500;
    font-style: normal;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 0%;
}
a {
    text-decoration: none;
    color: #ffffff;
}
#pesquisa {
    position: relative;
    left: 70px;
}
#busca {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 18px;
    font-style: normal;
    line-height: 32px;
    letter-spacing: 7%;
    border-radius: 37px;
    width: 292px;
    height: 48px;
    background-color: #151B26;
    padding: 8px 100px 8px 24px;
    
}
input::placeholder {
    color: #FFFFFF;
}
input:focus {
    background-color: #FFFFFF;  
    color: #FFFFFF;            
}
nav {
    display: flex;
    align-items: center;
    

    
}
ul {
    
    list-style: none;
    display: flex;
    width: 80%;
    justify-content: space-around;
    margin-left: 8%;
    gap: 24px;
   
    
    
   
}

li {
    border: 2px solid #151B26;
    width: 108px;
    height: 46px;
    border-radius: 37px;
    padding: 8px 4px 6px 10px;
    text-align: center;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 32px;
    letter-spacing: 7%;
    
    
}
li:hover {
    background-color: #00A3FF;
}

li#destaque {
    background-color: #151B26;
    
}

/*Main*/

main {
    display: grid;
    grid-template-columns: repeat(3,1216px);
    grid-template-rows: 641px auto 495px;
    grid-template-areas: 
        'novidade'
        'ultimaAtualizacao'
        'adiconadoRecente';
}

#item1 {grid-area: novidade;}
#item2 {grid-area: ultimaAtualizacao;}
#item3 {grid-area: adiconadoRecente;}

main > section {
    border: 1px solid purple;
    padding: 64px 9%;
    display: flex;
    flex-flow: column wrap;
    gap: 25px;
    
    
}


#separadoDaNovidade {
    
    width: 312px;
    height: 80px;
    display: flex;
    flex-flow: column wrap;
    gap: 8px;
}

#fraseUltimaNovidade {
    
     width: 100%;
     height: 43px;
     font-size: 36px;
     font-style: normal;
     line-height: 100%;
     letter-spacing: 0%;
     
     
}

#frasOqueAssisti {
    width: 242px;
    height: 22px;
    color: #BFBFBF;
    font-family: "Inter", sans-serif;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
}

#imagemFundo {
    background-image: url(../img/onepunch.jpg);
    position: relative;
    height: 400px;
    width: 100%;
    overflow: hidden;
    border-radius: 5px;
}
#imagemFundo::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url(../img/onepunch.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    filter: brightness(0.3); 
    z-index: 0;
    border-radius: 4px;
}
#conteudoFoto {
    width: 707px;
    height: 188px;
    position: absolute;
    top: 50%;
    left: 5%;
    width: 707px;
    z-index: 1;
    
}

#tituloOnePunh {
    width: 707px;
    height: 64px;
    font-weight: 500;
    font-size: 36px;
    line-height: 64px;
    letter-spacing: 0%;


}

#descricaoDoonePunh {
    width: 571px;
    height: 116px;
    font-family: "Inter", sans-serif;
    font-size: 18px;
    line-height: 160%;
    letter-spacing: 0%;
    color: #BFBFBF;
}


#textoultimasAtualizacoes {
    width: 302px;
    height: 36px;
    font-weight: 400;
    font-size: 30px;
    font-style: normal;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
}
#list-itens {
    display: grid;
    grid-template-columns: repeat(6, 16.67%);
    grid-template-rows: repeat(2,313px);
    row-gap: 35px;
    column-gap: 5px;
    
}


#fundoNanatsu {
    background-image: url("../img/NanatsuNoTaizai.jpg");
    position: relative;
    background-size: cover;
    width: 100%;
    height: 254px;
    z-index: 0;
    border-radius: 15px;

}
.sombra {
    background-image: url("../img/sombra.png");
    position: relative;
    background-size: cover;
    height: 254px;
    width: 100%;
    z-index: 1;
    border-radius: 12px;

}
.episódio {
    position: absolute;
    top: 190px;
    left: 40px;
    width: 142.93px;
    height: 20.95px;
    font-family: "Inter", sans-serif;
    height: 500;
    font-style: normal;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #BFBFBF;
}
.tituloAnime {
    
    width: 100%;
    height: 43px;
    font-style: normal;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center; 
    position: relative;
    top: 16px; 
}

#fundoDarling {
    background-image: url("../img/DarlingInTheFranxx.jpg");
    position: relative;
    background-size: cover;
    width: 100%;
    height: 254px;
    z-index: 0;
    border-radius: 15px;

}


#fundoDouluo {
    background-image: url("../img/DouluoDalu.jpg");
    position: relative;
    background-size: cover;
    width: 100%;
    height: 254px;
    z-index: 0;
    border-radius: 15px;

}


#fundoOverlord {
    background-image: url("../img/Overlord4.png");
    position: relative;
    background-size: cover;
    width: 100%;
    height: 254px;
    z-index: 0;
    border-radius: 15px;

}

#fundoOnePiece {
    background-image: url("../img/OnePiece.jpg");
    position: relative;
    background-size: cover;
    width: 100%;
    height: 254px;
    z-index: 0;
    border-radius: 15px;

}

#fundoFuutoTanntei {
    background-image: url("../img/FuutoTantei.jpg");
    position: relative;
    background-size: cover;
    width: 100%;
    height: 254px;
    z-index: 0;
    border-radius: 15px;

}

#fundoHoshiSamidare {
    background-image: url("../img/HoshiSamidare.jpg");
    position: relative;
    background-size: cover;
    width: 100%;
    height: 254px;
    z-index: 0;
    border-radius: 15px;

}

#fundoBucchigire {
    background-image: url("../img/Bucchigire.jpg");
    position: relative;
    background-size: cover;
    width: 100%;
    height: 254px;
    z-index: 0;
    border-radius: 15px;

}

#fundoAoashi {
    background-image: url("../img/Aoashi.jpg");
    position: relative;
    background-size: cover;
    width: 100%;
    height: 254px;
    z-index: 0;
    border-radius: 15px;

}

#fundoShadowsHouse {
    background-image: url("../img/ShadowsHouse.jpg");
    position: relative;
    background-size: cover;
    width: 100%;
    height: 254px;
    z-index: 0;
    border-radius: 15px;

}

#fundoSummerTimeRendering {
    background-image: url("../img/SummerTimeRendering.jpg");
    position: relative;
    background-size: cover;
    width: 100%;
    height: 254px;
    z-index: 0;
    border-radius: 15px;

}

#fundoOrient {
    background-image: url("../img/Orient.jpg");
    position: relative;
    background-size: cover;
    width: 100%;
    height: 254px;
    z-index: 0;
    border-radius: 15px;

}

