@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: #06090F;
    color: #ffffff;
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    
}

#conteine {
    display: grid;
    grid-template-columns: 1216px 1216px 1216px 1216px;
    grid-template-rows: 128px 98px auto 65px;
    grid-template-areas: 
        'cabecario'
        'navegacao'
        'conteudo'
        'rodape';
    row-gap: 10px;
    
   
}

#conteine > main , #conteine > header, #conteine > footer, #conteine > nav {
    position: relative;
    left: 10%;
}