main {
    display: grid;
    grid-template-columns: repeat(3,1216px);
    grid-template-rows: 641px auto 495px;
    grid-template-areas: 
        'novidade'
        'ultimaAtualizacao'
        'adiconadoRecente';
}

#item1 {grid-area: novidade;}
#item2 {grid-area: ultimaAtualizacao;}
#item3 {grid-area: adiconadoRecente;}

main > section {
    
    padding: 64px 9%;
    display: flex;
    flex-flow: column wrap;
    gap: 25px;
    
    
}


#separadoDaNovidade {
    
    width: 312px;
    height: 80px;
    display: flex;
    flex-flow: column wrap;
    gap: 8px;
}

#fraseUltimaNovidade {
    
     width: 100%;
     height: 43px;
     font-size: 36px;
     font-style: normal;
     line-height: 100%;
     letter-spacing: 0%;
     
     
}

#frasOqueAssisti {
    width: 242px;
    height: 22px;
    color: #BFBFBF;
    font-family: "Inter", sans-serif;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
}

#imagemFundo {
    background-image: url(../images/onepunch.jpg);
    position: relative;
    height: 400px;
    width: 100%;
    overflow: hidden;
    border-radius: 5px;
}
#imagemFundo::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url(../images/onepunch.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    filter: brightness(0.3); 
    z-index: 0;
    border-radius: 4px;
}
#conteudoFoto {
    width: 707px;
    height: 188px;
    position: absolute;
    top: 50%;
    left: 5%;
    width: 707px;
    z-index: 1;
    
}

#tituloOnePunh {
    width: 707px;
    height: 64px;
    font-weight: 500;
    font-size: 36px;
    line-height: 64px;
    letter-spacing: 0%;


}

#descricaoDoonePunh {
    width: 571px;
    height: 116px;
    font-family: "Inter", sans-serif;
    font-size: 18px;
    line-height: 160%;
    letter-spacing: 0%;
    color: #BFBFBF;
}


#textoultimasAtualizacoes {
    width: 302px;
    height: 36px;
    font-weight: 400;
    font-size: 30px;
    font-style: normal;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
}
#list-itens {
    display: grid;
    grid-template-columns: repeat(6, 16.67%);
    grid-template-rows: repeat(2,313px);
    row-gap: 35px;
    column-gap: 5px;
    
}


#fundoNanatsu {
    background-image: url("../images/NanatsuNoTaizai.jpg");
    position: relative;
    background-size: cover;
    width: 100%;
    height: 254px;
    z-index: 0;
    border-radius: 15px;

}
.sombra {
    background-image: url("../images/sombra.png");
    position: relative;
    background-size: cover;
    height: 254px;
    width: 100%;
    z-index: 1;
    border-radius: 12px;

}
.episódio {
    position: absolute;
    top: 190px;
    left: 40px;
    width: 142.93px;
    height: 20.95px;
    font-family: "Inter", sans-serif;
    height: 500;
    font-style: normal;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #BFBFBF;
}
.tituloAnime {
    
    width: 100%;
    height: 43px;
    font-style: normal;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center; 
    position: relative;
    top: 16px; 
}

#fundoDarling {
    background-image: url("../images/DarlingInTheFranxx.jpg");
    position: relative;
    background-size: cover;
    width: 100%;
    height: 254px;
    z-index: 0;
    border-radius: 15px;

}


#fundoDouluo {
    background-image: url("../images/DouluoDalu.jpg");
    position: relative;
    background-size: cover;
    width: 100%;
    height: 254px;
    z-index: 0;
    border-radius: 15px;

}


#fundoOverlord {
    background-image: url("../images/Overlord4.png");
    position: relative;
    background-size: cover;
    width: 100%;
    height: 254px;
    z-index: 0;
    border-radius: 15px;

}

#fundoOnePiece {
    background-image: url("../images/OnePiece.jpg");
    position: relative;
    background-size: cover;
    width: 100%;
    height: 254px;
    z-index: 0;
    border-radius: 15px;

}

#fundoFuutoTanntei {
    background-image: url("../images/FuutoTantei.jpg");
    position: relative;
    background-size: cover;
    width: 100%;
    height: 254px;
    z-index: 0;
    border-radius: 15px;

}

#fundoHoshiSamidare {
    background-image: url("../images/HoshiSamidare.jpg");
    position: relative;
    background-size: cover;
    width: 100%;
    height: 254px;
    z-index: 0;
    border-radius: 15px;

}

#fundoBucchigire {
    background-image: url("../images/Bucchigire.jpg");
    position: relative;
    background-size: cover;
    width: 100%;
    height: 254px;
    z-index: 0;
    border-radius: 15px;
   
}

#fundoAoashi {
    background-image: url("../images/Aoashi.jpg");
    position: relative;
    background-size: cover;
    width: 100%;
    height: 254px;
    z-index: 0;
    border-radius: 15px;

}

#fundoShadowsHouse {
    background-image: url("../images/ShadowsHouse.jpg");
    position: relative;
    background-size: cover;
    width: 100%;
    height: 254px;
    z-index: 0;
    border-radius: 15px;

}

#fundoSummerTimeRendering {
    background-image: url("../images/SummerTimeRendering.jpg");
    position: relative;
    background-size: cover;
    width: 100%;
    height: 254px;
    z-index: 0;
    border-radius: 15px;

}

#fundoOrient {
    background-image: url("../images/Orient.jpg");
    position: relative;
    background-size: cover;
    width: 100%;
    height: 254px;
    z-index: 0;
    border-radius: 15px;

}

#botaoVerMais {
    position: relative;
    left: 40%;
    background-color: #151B26;
    width: 202px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 64px;
    border-radius: 4px;
}

#botaoVerMais:hover {
    background-color: #00A3FF;
}
#fraseVermais {
    width: 74px;
    height: 32px;
    font-weight: 500;
    font-size: 18px;
    font-style: normal;
    line-height: 32px;
    letter-spacing: 0%;
    
}

#listaAnimeRecente {
    display: grid;
    grid-template-columns: repeat(6, 16.67%);
    grid-template-rows: 291px;
    column-gap: 5px;
   
}

#textouAnimeRecente {
    width: 245px;
    height: 36px;
    font-weight: 500;
    font-style: normal;
    font-size: 30px;
    line-height: 100%;
    letter-spacing: 0%;
    
}

#fundoMengQiShiShen {
    background-image: url("../images/MengQiShiShen.jpg");
    position: relative;
    background-size: cover;
    width: 100%;
    height: 254px;
    z-index: 0;
    border-radius: 15px;

}

#fundoMadeInAbyss {
    background-image: url("../images/MadeInAbyss.jpg");
    position: relative;
    background-size: cover;
    width: 100%;
    height: 254px;
    z-index: 0;
    border-radius: 15px;

}

#fundoPrimaDoll {
    background-image: url("../images/PrimaDoll.jpg");
    position: relative;
    background-size: cover;
    width: 100%;
    height: 254px;
    z-index: 0;
    border-radius: 15px;

}

#fundoIsekaiOjisan {
    background-image: url("../images/IsekaiOjisan.jpg");
    position: relative;
    background-size: cover;
    width: 100%;
    height: 254px;
    z-index: 0;
    border-radius: 15px;

}

#fundoYuushaYamemasu {
    background-image: url("../images/YuushaYamemasu.png");
    position: relative;
    background-size: cover;
    width: 100%;
    height: 254px;
    z-index: 0;
    border-radius: 15px;

}

#fundoKamiKuzuIdol {
    background-image: url("../images/KamiKuzuIdol.jpg");
    position: relative;
    background-size: cover;
    width: 100%;
    height: 254px;
    z-index: 0;
    border-radius: 15px;

}
